<div id="header">
    <h1 align="center">badbit.org</h1>
    <p align="center">Sitio web personal.</p>
    <p align="center"><img src="./img/tinfoilhatarea-sign.jpg" /></p>
</div>
<div id="body">
  <p align="center">
    [ <a href="http://badbit.blogspot.com">blog</a>
      | <a href="http://canal.badbit.org">podcast</a>
      | <a href="/publicaciones">publicaciones</a>
      | <a href="/cv">currículum</a>
      | <a href="/cobach/index">estudiantes</a> ]
  </p>
  <p align="center">&nbsp;</p>
  <p align="center"><b>contacto</b></p>
  <p align="center">
    [ el.badbit en gmail.com
    | <a href="/redes">redes sociales</a> ]
  </p>
</div>
